html {
	font-size: 16px;
}

body {
	font-family: Arial, sans-serif;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.row {
	display: flex;
	align-items: center;
	padding-top: 6%;
	justify-content: space-between;
}

.row:first-child {
	padding-top: 90px;
}

.left-align {
	margin-left: 5.1%;
}

.mobile-nav {
	display: none;
}

.logo {
	width: 30px;
}

.main-nav {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	padding: 0 15px;
}

.main-nav li:first-child {
	margin-right: auto;
}

nav li {
	list-style: none;
	padding: 15px;
}

nav li a {
	text-decoration: none;
	color: #1A0050;
}

.active {
	border-bottom: 1px solid #1A0050;
  padding-bottom: 14px;
}

.hero-container {
	display: flex;
	align-items: center;
	margin: 0 auto;
	flex-direction: column;
	width: 100%;
	background-color: whitesmoke;
}

.hero-container h1 {
	line-height: 1.5;
	font-size: 1.5em;
	font-weight: 300;
}

.hero-container:first-child {
	padding: 50px 0;
}

#hero-image>img {
	width: 100%;
}

.image-group {
	display: flex;
	flex-direction: column;
	align-items: center;
  position: relative;
  padding: 0 25px 0 25px;
}

.image-group img {
	padding-bottom: 30px;
}

.image-group span {
	padding-top: 20%;
  position: absolute;
  bottom: 0;

}

.icon-group {
	margin-top: 10%;
	width: 50%;
}

.group {
	display: flex;
	padding-bottom: 10%;
	justify-content: space-between;

}

.group-b {
	justify-content: space-around;
}

.hero {
	padding-bottom: 5%;
}

#hero-image {
	z-index: 2;
	margin-top: -50px;
	position: relative;
}

.tag {
	background: #1A0050;
	padding: 70px 40px;
	color: white;
	position: absolute;
	left: 40%;
	top: 78%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0.9;
}

.tag p {
	width: 68%;
	text-align: center;
}

.tag h3 {
	margin-bottom: 47px;
}

.hero-picture {
	max-width: 1200px;
}

.info-line {
	text-align: center;
	padding-top: 5%;
}

.info-line hr {
	width: 1%;
	margin-top: 10px;
	column-rule-color: red;
}

#contact {
	padding: 50px 0 50px 0;
}

header h3 {
	padding-bottom: 25px;
}

.row-big img {
	width: 100%;
}

footer {
	background-color: #1A0050;
	height: auto;
	color: white;
  padding-bottom: 5em;
}

.footer p {
	font-weight: 300;
}

.column {
	float: left;
	width: 25%;
}

hr {
	display: block;
	height: 10px;
	border: 0;
	width: 25px;
	border-top: 1px solid #FF6F5A;
}

/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

footer .row {

	align-items: flex-start;
}

#socialicons {
	text-align: center;
}

p.vspace {
	margin-top: 20px;
}

.vspace a {
	text-decoration: none;
	color: white;
}

.vspace a:hover {
	color: #FF6F5A;
}

footer p {
	line-height: 1.5;
}

#insta {
	margin-top: 45px;
}

#facebook>a {
	text-decoration: none;
	color: white;
}

#insta>a {
	text-decoration: none;
	color: white;
}

.hero-container h2 {
	padding-top: 25px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #1A0050;
}

#return-to-top i {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#kontakt > div > div:nth-child(1) {
  margin: 0 5%;
}


@media only screen and (min-width: 375px) and (max-width: 600px) {
	.main-nav {
		flex-direction: column;
	}
	.main-nav li:first-child {
		margin: 0;
	}
	.container {
		width: 100%;
	}
	.container img {
		width: 100%;
		height: auto;
	}
	.middle img {
		width: 100%;
		height: auto;
	}
	.tag {
		background: #1A0050;
		padding: 60px 16px;
		color: white;
		position: absolute;
		top: 41%;
		left: 14%;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 0.9;
	}
	.row {
		padding: 0;
		flex-direction: column;
	}
	.left-align {
		margin: 0;
	}
	.icon-group {
		width: 100%;
	}

  #kontakt > div > div:nth-child(1) {
    margin: 0;
  }
	.image-group {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		margin: 0;
	}
	.image-group span {
		padding-top: 0;
		padding-bottom: 50px;
	}
	.info-line {
		display: none;
	}
	.column {
		width: 100%;
	}
	.hero-container {
		display: none;
	}
	#hero-image {
		margin: 0;
	}

  #digdesign {
    width: 100px;
  }

  #return-to-top {
    display: none;
  }

  #return-to-top i {
    display: none;
  }

  #socialicons {
    text-align: center;
    padding-top: 25px;
}
  #insta {
    margin: 0;
    width: 49%;
    float: left;
  }

  #facebook {
    width: 49%;
    float: right;

  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
	.container {
		width: 100%;
	}
	.container img {
		width: 90%;
		height: auto;
		margin: 0 auto;
	}
	.row {
		width: 100%;
		height: auto;
		padding-top: 3%;
		justify-content: space-between;
	}
	.left-align {
		margin: 0;
	}
	.responsive {
		max-width: 255px;
		height: auto;
	}
	#hero-image>img {
		max-width: 700px;
	}
	#hero-image {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.tag {
		padding: 58px 28px;
		left: 30%;
		top: 62%;
	}

  .image-group {
    width: 100%;
    height: auto;
  }
  #return-to-top {
    display: none;
  }

  #return-to-top i {
    display: none;
  }
  .icon-group {
    width: 85%
  }

.image-group {

  padding: 0;
}
  .group {
    align-items: flex-end;
  }

  #produtv {
    height: 94px;
    width: 100px;
  }
}
