html {
	font-size: 16px;
}

body {
	font-family: 'Oswald', sans-serif;
	margin: 0 auto;
}

.mobile-nav {
  display: none;
}

nav {
	padding: 15px;
}

.logo {
  width: 30px;
}

.main-nav {
	display: -webkit-flex;
	display: flex;
  align-items: center;
}

.main-nav li:first-child {
	margin-right: auto;
}

nav li {
	list-style: none;
	padding: 15px;
}

nav li a {
	text-decoration: none;
	color: #1A0050;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
	margin: 0 auto;
	display: flex;
  flex-direction: column;
  width: 1170px;
}
.row {
  display: flex;
  align-items: center;
  padding-top: 10%;
}

.hero-container {
	display: flex;
	align-items: center;
	margin: 0 auto;
	flex-direction: column;
	width: 100%;
	background-color: whitesmoke;
}

.hero-container h1 {
	line-height: 1.5;
	font-size: 1.5em;
	font-weight: 300;
}

.hero-container:first-child {
	padding-top: 10%;
}

.image-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 25px 0 25px;
}

.image-group img {
	width: 50px;
	padding-bottom: 15px;
}

.image-group span {
	padding-top: 20%;
}

.icon-group {
	margin-top: 10%;
	width: 70%;
}

.group {
	display: flex;
	padding-bottom: 10%;
	justify-content: space-between;
}

.group-b {
	justify-content: space-between;

  width: 550px;

}

.left-picture {
  margin-right: 5%;
}

.hero {
  padding-bottom: 15%;
}

#hero-image {
	z-index: 2;
	margin-top: -50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	position: relative;
}

.info-box {
	background: #1A0050;
	padding: 60px 40px;
	color: white;
	font-weight: normal;
	position: absolute;
	bottom: -141%;
	left: 40%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.small-picture {
  max-width: 1200px;
}

.info-line {
  text-align: center;
  padding-top: 5%;
}

.info-line hr {
  width: 1%;
  margin-top: 10px;
  column-rule-color: red;
}

#contact {
  padding: 10% 0;
}

.row-big img{
  width: 100%;
}

footer {
  background-color: #1A0050;
  height: 800px;
}

.column {
  float: left;
  width: 25%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (max-width: 480px) {
  body {

  }

  .group {

  }

  nav {
    display: none;
  }

  .mobile-nav {

  }
}
