html {
	font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
  max-width: 1200px;
}
.row {
  display: flex;
  align-items: center;
  padding-top: 10%;
}




.mobile-nav {
  display: none;
}

.logo {
  width: 30px;
}

.main-nav {
	display: -webkit-flex;
	display: flex;
  align-items: center;
  padding: 0 15px;
}

.main-nav li:first-child {
	margin-right: auto;
}

nav li {
	list-style: none;
	padding: 15px;
}

nav li a {
	text-decoration: none;
	color: #1A0050;
}

.active {
  border-bottom: 1px solid #1A0050;

}

.hero-container {
	display: flex;
	align-items: center;
	margin: 0 auto;
	flex-direction: column;
	width: 100%;
	background-color: whitesmoke;
}

.hero-container h1 {
	line-height: 1.5;
	font-size: 1.5em;
	font-weight: 300;
}

.hero-container:first-child {
	padding: 6% 0;
}

#hero-image > img {
  max-width: 1200px;
}

.image-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 25px 0 25px;
}

.image-group img {

	padding-bottom: 15px;
}

.image-group span {
	padding-top: 20%;
}

.icon-group {
	margin-top: 10%;
	width: 50%;
}

.group {
	display: flex;
	padding-bottom: 10%;
	justify-content: space-between;
}

.group-b {
	justify-content: space-around;

}

.left-picture {
  margin-right: 5%;
}

.hero {
  padding-bottom: 5%;
}

#hero-image {
	z-index: 2;
	margin-top: -50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	position: relative;
}

.info-box {
	background: #1A0050;
	padding: 70px 40px;
	color: white;
	position: absolute;
	bottom: -161%;
	left: 40%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
  opacity: 0.8;
}

.info-box p {
  width: 68%;
    text-align: center;
}

.info-box h3 {
  margin-bottom: 47px;
}

.hero-picture {
  max-width: 1200px;
}

.info-line {
  text-align: center;
  padding-top: 5%;
}

.info-line hr {
  width: 1%;
  margin-top: 10px;
  column-rule-color: red;
}

#contact {
  padding: 50px 0 50px 0;
}

.row-big img{
  width: 100%;
}

footer {
  background-color: #1A0050;
  height: 600px;
  color: white;
}

.footer p {
  font-weight: 300;
}

.column {
  float: left;
  width: 25%;
}


hr {
    display: block;
    height: 10px;
    border: 0;
    width: 25px;
    border-top: 1px solid #FF6F5A;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer .row {
  padding-left: 5%;
  padding-right: 5%;
  align-items: flex-start;
}


#socialicons {
  text-align: center;
}

p.vspace {
  margin-top: 20px;
}

.vspace a {
  text-decoration: none;
  color: white;
}

.vspace a:hover {
  color: #FF6F5A;
}

footer p {
  line-height: 1.5;
}

#insta {
  margin-top: 45px;
}

#facebook > a {
  text-decoration: none;
  color: white;
}

#insta > a {
  text-decoration: none;
  color: white;
}


@media screen and (max-width: 768) and (min-width: 375px) {
  .container {
    max-width: 768px;
  }

  .container img {
    max-width: 768px;
  }

  .row img {
    max-width: 768px;
  }



  #hero-image > img {
      max-width: 768px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  nav {

  }

  .hero-container {
  max-width: 900px;
  }

  .hero-picture {
    width: 900px;
  }

  .left-picture {
  width : 900px;
  }

  #hero-image {
  max-width: 900px;

  }
  .main-nav {

  }
  .main-nav li:first-child {
  max-width: 900px;
  }
  #hero-image > img {
  max-width: 900px;
  }

  .row {
  max-width: 900px;
  }

  .container-fluid {
  max-width: 900px;
  margin: 0 auto;
  }

  .container-fluid img {
  max-width: 400px;
  }

  .info-box {
    bottom: -107%;
  }

  .info-box h3 {

  }

  .info-box p {

  }

  .column {

  }

  .social-icon p{

  }
  }

@media screen and (max-width: 375px) {

.hero-container {
  display: none;
}

.hero-picture {
  max-width: 375px;
}

.left-picture {
  width: 100%;
  margin: 0;
}

#hero-image {
  padding: 0;
  margin: 0;

}
  .main-nav {

  flex-direction: column;
  }
  .main-nav li:first-child {
    margin: 0 auto;
}
#hero-image > img {
    max-width: 375px;
  }

.row {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.row img {
  max-width: 375px;
}

.container-fluid {
  max-width: 375px;
}

.container-fluid img {
  width: 100%;
}

.info-box {
  bottom: 37%;
  left: 0;
  padding: 50px 40px;

}

.info-box h3 {
  font-size: 2em;
    width: 100%;
    text-align: center;
}

.info-box p {
  text-align: center;
  font-size: 1.5em;
}

.column {
  width: 100%;
}

.social-icon p{
  display: none;
}
}

@media screen and (min-width: 600px) { /* ...tablet styles here... */ }
